*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: "Space Mono", monospace;
}

body {
	background-color: black;
	color: white;
	color-scheme: dark;
}

/* Hero section */
div#hero-section {
	/* display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1.3fr 0.5fr 1.2fr;

	justify-content: space-around; */

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	height: 100vh;
}

div#hero-section div.statement {
	margin-top: auto;
	display: flex;
	align-items: flex-end;

	font-size: 1.25rem;
}

div#hero-section h1 {
	grid-area: 2 / 1 / 2 / 3;

	font-size: 3.5rem;
}

div#hero-section div.footnote {
	margin-top: auto;

	align-self: flex-start;

	width: auto;

	display: flex;
	justify-items: flex-start;
	align-items: flex-end;

	font-size: 0.8rem;
}

/*
-----slides-----
*/

div#info-section {
	margin: 2em;
	margin-top: 3em;

	padding: 1.5em;

	background-color: white;
}

div.slide {
	background-color: black;
	padding: 1em;

	min-height: 75vh;
}

div.slide#who {
}

div.slide#what {
	display: none;
}

div.slide#why {
	display: none;
}

div.slide h2.title {
	margin-left: 2rem;
	margin-bottom: 0.5rem;
}

div.slide#who div.content {
	font-size: 1rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 1fr 1fr; */
}

div.slide#who div.content pre span.prop {
	color: #55b3ee;
}

div.slide#who div.content div.image {
	grid-area: 2 / 1 / span 1 / span 2;

	margin: auto;

	text-align: center;
}
